
#Tittel {
    font-style: oblique;
    font-size: 30px;
    text-align: left;
    margin-top: 30%;
}

.result{
    border: 5px outset grey;
    border-radius: 10px;
    border-width: 5pxpx;
    text-align: left;
    margin-top: 5px;
    margin-right: 60%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

a {
    color: black;
	margin: 0;
	padding: 0;
	font-size: 100%;
    font-family: sans-serif;
}


/* css for navigasjonsbaren */
.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #606060;
  min-height: 70px;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  background-color: #606060;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#categories {
    width: 200px;
}



